{% extends "base.html" %}
{% from 'bootstrap/nav.html' import  render_breadcrumb_item %}

{% block title %}
Pharmacy management
{% endblock  %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class = 'navbar-header'>
            <a class="navbar-brand" href="{{ url_for('index')}}">SmartPharm Home</a> 
        </div>
 

        {{render_breadcrumb_item('edit_doc', 'Edit Doctor')}}
        {{render_breadcrumb_item('rem_doc', 'Remove Doctor')}}
        {{render_breadcrumb_item('edit_pat', 'Edit Patient')}}
        {{render_breadcrumb_item('rem_pat', 'Remove Patient')}}
        {{render_breadcrumb_item('edit_pharm', 'Edit Pharmacy')}}
        {{render_breadcrumb_item('rem_pharm', 'Remove Pharmacy')}}
        {{render_breadcrumb_item('edit_plant', 'Edit Plant')}}
        {{render_breadcrumb_item('rem_plant', 'Remove Plant')}}
        {{render_breadcrumb_item('logout', 'logout')}}

    </div>
</nav>

{% endblock %}
