{% extends "base.html" %}
{% from 'bootstrap/nav.html' import  render_breadcrumb_item %}

{% block title %}
Pharmacy management
{% endblock  %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class = 'navbar-header'>
            <a class="navbar-brand" href="{{ url_for('index')}}">SmartPharm Home</a> 
        </div>
 

        {{ render_breadcrumb_item('pat_new_apt', 'Book Appointment')}}
        {{ render_breadcrumb_item('pat_check_apt', 'Check Appointments')}}
        {{ render_breadcrumb_item('logout', 'logout')}}

    </div>
</nav>

{% endblock %}


