{% extends "base.html" %}
{% from 'bootstrap/nav.html' import  render_breadcrumb_item, render_nav_item %}

{% block title %}
Pharmacy management
{% endblock  %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container">
        <div class = 'navbar-header'>
            <a class="navbar-brand" href="{{ url_for('index')}}">SmartPharm Home</a> 
        </div>
 
    {{ render_breadcrumb_item('plant_inv', 'Inventory')}}
    {{ render_breadcrumb_item('plant_order_conf', 'Order Confirmation')}}
    {{ render_breadcrumb_item('plant_ship_hist', 'Shipment History')}}
    {{ render_breadcrumb_item('plant_add_stock', 'Add Stock')}}
    {{ render_breadcrumb_item('logout', 'logout')}}
    </div>
</nav>

{% endblock %}


