{% extends "bootstrap/base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{%block title%}

{% endblock %}

{% block content %}
<div class="container">
    <form action="" method ="POST" novalidate>
        <dl>
            {{ form.csrf_token }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.password2) }}
            {{ wtf.form_field(form.name) }}
            {{ wtf.form_field(form.address) }}
            {{ wtf.form_field(form.city) }}
            {{ wtf.form_field(form.state) }}
            {{ wtf.form_field(form.zipcode) }}
            <input class="btn btn-primary" type="submit" value="Login">
        </dl>
    </form>
</div>
{% endblock %}

